<html>
<header><title>Criando uma página php...</title><meta charset="UTF-8"></header>
<body>
<h1>Burger do Zé</h1>
Burger do Zé

Teste 123 

<BR>

    <img src="https://cdn.jornaldebrasilia.com.br/wp-content/uploads/2020/05/BierFass-Lago-hamb%C3%BArguer-de-Picanha-cr%C3%A9dito-Inove-Aceleradora-1000x600.jpg" 
style {
    width: 600;
}>

</body>
</html>
