<html>
<header><title>Criando uma página php...</title><meta charset="UTF-8"></header>
<body>
<h1>Venda de veículos</h1>
Contato: <A href="https://api.whatsapp.com/send?phone=5511976846005&text=%C3%9Anico%20dono">Whatsapp</A>
<BR>
<img src="https://i.ytimg.com/vi/vWd2gVLlTUo/maxresdefault.jpg">n

</body>
</html>
